<div>
    <h2>Insert course</h2>
    <div>
      <label>Name:
        <input ng-model="vm.course.name" placeholder="Course Name"/>
      </label><br>
      <label>Link:
        <input ng-model="vm.course.link" placeholder="Link"/>
      </label><br>
      <label>Course_duration:
        <input ng-model="vm.course.course_duration" placeholder="Course Duration"/>
      </label><br>
      <label>Price:
        <input  ng-model="vm.course.price" placeholder="Price"/>
      </label><br>
    </div>
    <button ng-click="vm.submit()">SUBMIT</button>
  </div>
  